body, .main-container {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 100%;
    height: 100vh;
    gap: 10px;
    display: grid;
    grid-template-areas:
        "header"
        "menu"
        "footer"
}

header, footer {
    background-color: blue;
    color: aliceblue;
}

.nav {
    height: 5rem;
}


@media (max-width: 576px) {
    body {
        width: 100%;
        height: 100vh;
        grid-template-areas: "header"
            "menu"
            "main"
            "footer"
    }

    .menu-items {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        margin: 0.3rem 0.5rem;
        align-items: baseline;

        & i {
            margin-right: 0.3rem;
            font-size: 1.5rem;
        }

        & p {
            font-size: 0.9rem;
            line-height: 1rem;
        }
    }

    .text-center {
        text-align: center;
        margin: 0;
    }

    .flex-container {
        display: flex;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }

    .input-search {
        width: 300px;
        margin: auto;
        background-color: yellow;
    }

    .footer-container {
        padding: 0.5rem 0;
    }

}